@page
@model MenuBuilderWeb.Pages.RecipiesModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Recipies";

}

<div class="row">
<h1 class="display-2">Recipies</h1>
<table class="table">
    <thead class="thead-inverse">
        <tr><th>Dish Name</th></tr>
    </thead>
    <tbody>
        @foreach (string name in Model.Recipies)
        {
            <tr><td>@name</td></tr>
        }
    </tbody>
</table>
</div>

<div class="row">
    <p>Enter the name for the recipe:</p>
    <form method="post">
        <div><input asp-for="Recipe.Name" /></div>
        <input type="submit" />
    </form>
</div>


